//- index.pug
doctype html
html
  head
  title Sami Dance Academy
  link(rel="icon", href="/favicon.ico")  
  //-We can also include css by this method
  //-style
        include ../static/style.css
  link(rel="stylesheet", href="/static/style.css")

    
  body
    nav#navbar
        ul 
            div#logo
              img(src="/static/lg2.webp")
              | SDA 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    section#introsection 
            div  Welcome to Sami's Dance Academy 
            div.small  Eat Sleep Dance Repeat

    .main-section
  .container
  .mission-area
    h2 Our Mission
    .card-container
      .card
        h3 Dance Perfection
        .card-img
          img(src="/static/c1.png")
        .card-content
          p This is the best dance academy of the universe

      .card
        h3 Dance the way you like
        .card-img
          img(src="/static/c2.png")
        .card-content
          p This is the best dance academy of the universe

      .card
        h3 Expert Teaching
        .card-img
          img(src="/static/c3.png")
        .card-content
          p This is the best dance academy of the universe

// Move this OUTSIDE the .container
.sponsor-area
  h2 Our Sponsors
  .sponsor-logos
    img(src="/static/log1.png", alt="Sponsor Image", Class = "spImage")
    img(src="/static/log2.png", alt="Sponsor Image", Class = "spImage")
    img(src="/static/log3.png", alt="Sponsor Image", Class = "spImage")
    img(src="/static/log4.png", alt="Sponsor Image", Class = "spImage")

footer
  p Copyright © 2025 SamiDanceacademy.com | All rights reserved


    script
      include ../static/index.js